<input type="hidden" ng-model="vm.value" ng-required="vm.required">

<!-- Drop Zone -->
<div class="dropzone"
     ngf-drop="vm.uploadFile($file)"
     ngf-drag-over-class="vm.dragOverClass($event)"
     ng-model="file"
     ng-multiple="false"
     ngf-select="vm.uploadFile($file)">
    Drop image here or click to upload
</div>

<!-- Progress Bar -->
<uib-progressbar
        ng-show="vm.progress.visible"
        class="progress-striped active"
        value="vm.progress.value"
        type="{{ vm.progress.type }}">
</uib-progressbar>

<!-- Preview -->
<div class="preview" ng-show="file">
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <p><strong>{{ vm.file.name }}</strong></p>
            <p class="text-error" ng-show="vm.f.$error || vm.f.$errorParam">{{vm.f.$error}} {{vm.f.$errorParam}}</p>
            <div class="thumbnail">
                <img ngf-src="file.result.url || file">
            </div>
        </div>
    </div>
</div>
