<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">BeerLogger</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                <li ui-sref-active="active" ng-show="logged"><a ui-sref="drinks">Drinks</a></li>
                <li ui-sref-active="active" ng-show="logged"><a ui-sref="statistics">Statistics</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button
                            ui-sref="registration"
                            ng-show="!logged"
                            class="btn btn-default navbar-btn">Sign Up</button>
                    <oauth
                            site="http://api.beerlogger.tru.lt"
                            client-id="1_5qejn38rtukggw4w4ko0sk0okcgsk4c4s0g0cc8c40wcok0w4g"
                            redirect-uri="http://beerlogger.tru.lt"
                            profile-uri="http://api.beerlogger.tru.lt/api/user"
                            authorize-path="/oauth/v2/auth">
                    </oauth>
                </li>
            </ul>
        </div>
    </div>
</nav>
