<div class="modal-header">
    <h3 class="modal-title">{{ vm.drink.name }}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a ng-href="{{ vm.drink.image }}" class="thumbnail">
                <img ng-src="{{ vm.drink.image }}" alt="{{ vm.drink.name }}">
            </a>
        </div>
        <div class="col-xs-6 col-md-9">
            <dl class="dl-horizontal">
                <dt>Created At</dt>
                <dd>{{ vm.drink.created_at | date }}</dd>
                <dt>Packaging Amount</dt>
                <dd>{{ vm.drink.packaging_amount }}</dd>
                <dt>Packaging Capacity</dt>
                <dd>{{ (vm.drink.packaging_capacity / 1000).toFixed(2) }} <small>ml</small></dd>
                <dt>Packaging Price</dt>
                <dd>{{ vm.drink.packaging_price }} <small>&euro;</small></dd>
                <dt>Rating</dt>
                <dd><uib-rating ng-model="vm.drink.rating" max="10" readonly="true" aria-labelledby="default-rating"></uib-rating></dd>
                <dt>Note</dt>
                <dd>{{ vm.drink.note }}</dd>
            </dl>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.close()">Close</button>
</div>


